<div class="share-item">
    <a class="share-item__link share-item__link--{{ icon }}" href="{{ href }}">
        <svg class="share-item__icon share-item__icon--{{ icon }}" width="42" height="42">
            <use xlink:href="#{{ icon }}" />
        </svg>
        <h3 class="share-item__heading">{{ title }}</h3>
    </a>
</div>
